/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/mixins';
@import 'base/settings';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/

@import 'parts/header';
@import 'parts/popup';
@import 'parts/offer';

@import 'parts/controls-buttons';
@import 'parts/buttons';
@import 'parts/footer';


@import 'parts/page-main';
@import 'parts/page-contacts';
@import 'parts/page-about';
@import 'parts/page-location';
@import 'parts/house';
@import 'parts/page-bayil';


.studio-logo { background-position: -5px -0px; width: 96px; height: 22px; }
.fb { background-position: -5px -27px; width: 30px; height: 30px; }
.inst { background-position: -40px -27px; width: 30px; height: 30px; }
.tw { background-position: -5px -62px; width: 30px; height: 30px; }
.airplane-dark-icon { background-position: -75px -27px; width: 20px; height: 20px; }
.phone-dark-icon { background-position: -75px -52px; width: 20px; height: 20px; }
.pin-dark-icon { background-position: -69px -77px; width: 16px; height: 20px; }
.pin-icon { background-position: -40px -92px; width: 16px; height: 20px; }
.doc-icon { background-position: -5px -97px; width: 15px; height: 20px; }

