.button {
	font-size: 13px;
	font-family: $cib;
	color: #fff;
	padding: 0 25px;
	height: 50px;
	width: auto;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	border: 0;

	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&:after,
	&:before {
		content: '';
		width: 6px;
		height: 3px;
		background-color: #fff;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		position: absolute;
		top: 50%;
	}
	&:after {
		right: 0;
	}
	&:before {
		left: 0;
	}

	&--yellow {
		background-color: $yellow;

		&:hover {
			background-color: #E59C0B;
		}
	}

	&--green {
		background-color: #95C83D;

		&:hover {
			background-color: #82AF36;
		}
	}


	@include m700 {
		height: 40px;
		padding: 0 20px;
	}
}

a.button {
	line-height: 52px;
	@include m700 {
		line-height: 42px;
	}
}