
#flats {
    position: absolute;
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    @include transition(all, .4s);
    background-color: #FFF;
    z-index: 10;
}


.flats__floor {
    width: 100%;
    height: 100%;
    float: left;
    display: none;
    text-align: center;
    @include flex($justify: center, $direction: column);
    @media (max-width: 700px) {
        height: auto;
    }
    &__flat {
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        .flatImg {
            display: inline-block;
            vertical-align: middle;
            max-width: 98%;
            /*@include m1100 {
                max-width: 50%;
            }*/
            @include m700 {
                max-width: 60%;
            }
            @include mh750 {
                max-height: 460px;
            }
        }
        &__info {
            display: none;
        }
    }
    &.active {
        display: block;
    }
    &__flat {
         width: 100%;
        height: 100%;
        float: left;
        display: none;

        @media (max-width: 700px) {
            &:before {
                display: none;
            }
            height: auto;
            padding-top: 200px;
            padding-bottom: 150px;
        }

        &__image {
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            width: auto;
            max-width: 95%;

            @media (max-width: 700px) {
                display: block;
                margin: 0 auto;
            }
        }
        &.active {
            display: block;
        }
    }
}

.goBack {
    position: absolute;
    left: 18px;
    top: 35px;
    background: none;
    font: 16px $cir;
    color: #666666;
    border: none;
    z-index: 200;
    &:before {
        content: "";
        width: 14px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
        border-left: 2px solid #eee;
        border-top: 2px solid #eee;
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    @include m700 {
        top: 13px;
        left: 5px;
        font-size: 12px;
    }
}