        
.mainHeader {
    @include flex();
    @include position(absolute, 20px, 20px, auto, 20px);
    z-index: 100;
    background: #fff;
    margin: 0;
    @include transition(all, .4s);
    
        /*.................media.............*/
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #fff;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
             
            &.active { left: 0;}
        }
        /*.............end media..............*/
    &__info {
        width: 40%;
        text-align: right;
        color: #444;
        height: 100%;
    }
}

.logo {
    display: inline-block;
    vertical-align: middle;
    img {
        display: block;
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
     display: inline-block;
    vertical-align: middle;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            vertical-align: baseline;
            margin: 0 15px;
            a {
                display: inline-block;
                text-decoration: none;
                font: 16px $or;
                color: #333;
                @include transition(all, .2s);             
                &:hover {}
            }
            &:nth-of-type(1) {
                margin-left: 30px;
            }
            &:nth-of-type(3) {
                a {
                    font: 24px $cor;
                }
            }
        }

            /*.................media.............*/
            @include m1000 { 
                display: block;
                height: 100%;
                overflow: scroll;
                position: relative;
                li a  {   
                    margin: 0 0 25px 0;
                    &.active {color: #ECCC1D;}
                    &:hover  {background: transparent;}
                } 
            }
            /*.............end media.............*/
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}


.tel {
    display: inline-block;
    vertical-align: middle;
    font: 20px $or;
    color: #444;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        background-image: url("../images/sprite.png");
        background-position: -40px -62px; width: 24px; height: 25px; 
        margin-right: 15px;
    }
}
.social {
    display: inline-block;
    vertical-align: middle;
    margin-left: 40px;
    max-height: 110px;
    overflow: hidden;
    &__item {
        background-image: url("../images/sprite.png");
        width: 30px; height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 6px;
        &--fb {
            background-position: -5px -27px;
        }
        &--inst {
            background-position: -40px -27px;
        }
        &--tw {
            background-position: -5px -62px;
        }
    }
}

.lang {
    margin-left: 55px;
    width: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    &__item {
        height: 33.33%;
        display: block;
        width: 100%;
        text-align: center;
        background-color: #EEE;
        font: 12px/37px $cib;
        text-transform: uppercase;
        color: #444;
        &.active,
        &:hover {
            background-color: #e5a627;
            color: #fff;
        }
    }
}