.heading {
	height: 350px;
	width: 100%;
	background-image: url(../images/heading.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	padding-top: 130px;
	text-align: center;
	margin-bottom: 95px;
	@extend %vertAlign;

	@media (max-width: 1200px) {
		padding-top: 0;
		height: 200px;
	}

	h1 {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		font-family: $cor;
		font-size: 28px;
		
		&:before,
		&:after {
			content:'';
			width: 5px;
			height: 5px;
			display: inline-block;
			vertical-align: middle;
			background-color: #fff;
			margin: 0 7px;
		}
	}
}

.row-flex {
	@include flex($wrap: wrap);
	margin-bottom: 80px;

	@media (max-width: 1200px) {
		-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	    align-items: flex-start;
	}

	@media (max-width: 800px) {
		display: block;
		margin-bottom: 20px;
	}

	&__media,
	&__content {
		width: 50%;
		padding: 0 10px;
	}

	&__media {
		position: relative;

		@media (max-width: 800px) {
			width: 600px;
			margin: 0 auto 25px;
		}
		@media (max-width: 640px) {
			width: 100%;
			margin: 0 auto 25px;
			padding: 0;
		}

		&:after {
			content: '';
			background-color: #666;
			opacity: 0.4;
			position: absolute;
			top: 10px;
			right: 20px;
			bottom: 10px;
			left: 20px;
			z-index: 0;

			@media (max-width: 640px) {
				left: 10px;
				right: 10px;
			}
		}

		img {
			width: 100%;
			display: block;
		}
	}

	&__content {
		padding-left: 45px;
		font-size: 16px;
		line-height: 24px;
		color: #444;

		@media (max-width: 800px) {
			width: 100%;
			padding-left: 0;
		}

		p:not(:last-child) {
			margin-bottom: 22px;
		}
	}

	&:nth-of-type(even) &__media {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	&:nth-of-type(even) &__content {
		padding-left: 0;
		padding-right: 45px;

		@media (max-width: 800px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

}

$arrow-color: #686868;
.simple-slider {
	margin-bottom: 0;

	.slick-arrow {
		width: 50px;
		height: 50px;
		border: 0;
		background-color: #DDDDDD;
		z-index: 10;
		margin-top: -25px;

		@media (max-width: 640px) {
			width: 30px;
			height: 30px;
			margin-top: -15px;
		}

		&:before {
			display: none;
		}

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 15px;
			height: 15px;
			-webkit-transform: translate(-50%, -50%) rotate(45deg);
			-ms-transform: translate(-50%, -50%) rotate(45deg);
			-o-transform: translate(-50%, -50%) rotate(45deg);
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&.slick-next {
			margin-bottom: 10px;

			&:after {
				border-top: 2px solid $arrow-color;
				border-right: 2px solid $arrow-color;
				margin-left: -5px;
			}
		}

		&.slick-prev {
			&:after {
				border-bottom: 2px solid $arrow-color;
				border-left: 2px solid $arrow-color;
				margin-left: 5px;
			}
		}
	}

	.slick-next {
		right: 10px;
	}
	.slick-prev {
		left: 10px;
	}
}


.row.text-columns {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 90px; /* Chrome, Safari, Opera */
    -moz-column-gap: 90px; /* Firefox */
    column-gap: 90px;

    @media (max-width: 800px) {
    	-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    margin-bottom: 20px;
    }

    margin-bottom: 80px;

    p {
    	font-size: 16px;
		line-height: 24px;
		color: #444;

		&:not(:last-child) {
			margin-bottom: 22px;
		}
    }
}