// COLORS
// ---------------------------
$yellow:            #E5A627;

// FONTS
// ---------------------------
$cir:               'Circe Regular';
$cib:               'Circe Bold';

$cor:               'Corki Regular';

$or:                'Octava Regular';
$oi:                'Octava Italic';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
  height: 100%;
    position: relative;
    font-family: $cir;
}





// lAYOUT
// ---------------------------

.wrapper {
    width: 1200px;
	 margin: 0 auto;
    text-align: left;
    @include m1200 {
        width: 100%;
    }
}


main {
    position: relative;
    @include flex($direction: column, $justify: center);
    padding: 150px 20px 100px;
    min-height: 100%;
    webkit-box-shadow: inset 0px -360px 190px -190px rgba(0,48,64,0.5);
      -moz-box-shadow: inset 0px -360px 190px -190px rgba(0,48,64,0.5);
           box-shadow: inset 0px -360px 190px -190px rgba(0,48,64,0.5);

    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    &.indexPage{
       height: 100%;
       background-image: url("../images/bg_main.jpg");
       background-repeat: no-repeat;
       background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }

    @include m800 {
        -webkit-box-shadow: inset 0px -300px 140px -140px rgba(0,48,64,0.5);
           -moz-box-shadow: inset 0px -300px 140px -140px rgba(0,48,64,0.5);
                box-shadow: inset 0px -300px 140px -140px rgba(0,48,64,0.5);
    }

    &.no-shadow {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    &.no-padding {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      display: block;
    }

     @include m1200 {
       padding: 20px 20px 80px;
     }
}